.invites-button {
  margin-left: auto;
  margin-right: 0px;
  padding: 0px;
  max-height: 36px;
  margin: 10px 10px 0px 0px;
  background-color: transparent;
  border: 0px;
}
.invites-button:focus {
  outline: none;
}
