.profile-header {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  min-width: 500px;
  margin: 50px auto 0 auto;
  border-radius: 16px;
  height: 50px;
  background-color: #ffffffbf;
  text-shadow: 0 3px #04e6ff;
  color: #5c20e9b9;
  letter-spacing: 1px;
  font-size: 17px;
}
.profile {
  max-width: 800px;
  min-width: 500px;
  margin: 50px auto 0 auto;
  border-radius: 16px;
  height: 600px;
  background-color: #ffffffbf;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.card-image {
  width: 100px;
  height: 100px;
}
