.profile {
  max-width: 800px;
  min-width: 500px;
  margin: 15px auto 0 auto;
  border-radius: 16px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.front-card-out,
.back-card-out {
  min-width: 350px;
  max-width: 550px;
  min-height: 530px;
  max-height: 730px;
  background-color: #ffffffbf;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  -webkit-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.34);
  box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.34);
}

.front-card {
  width: 95%;
  height: 90%;
  position: relative;
  background-color: #04e6ff;
  background-image: url("/profile/BlueFish.png");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 15px;
}

.logo-card {
  display: flex;
  flex-direction: row;
  padding: 25px 0;
}
.logo-card-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.front-card-nick {
  color: white;
  margin-bottom: 60px;
  margin-top: 15px;
  text-shadow: 0 2px rgb(4, 230, 255);
}
.logo-card-text {
  font-size: 12px;
  padding-top: 3px;
  display: flex;
  flex-direction: row;
  color: white;
}

.card-image {
  position: absolute;
  top: 65px;
  width: 125px;
  height: 120px;
  border-radius: 50%;
  -webkit-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.34);
  box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.34);
}

.arrow {
  width: 40px;
  height: 40px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI1MTIiIGlkPSJzdmcyIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSI1MTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6Y2M9Imh0dHA6Ly9jcmVhdGl2ZWNvbW1vbnMub3JnL25zIyIgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIiB4bWxuczppbmtzY2FwZT0iaHR0cDovL3d3dy5pbmtzY2FwZS5vcmcvbmFtZXNwYWNlcy9pbmtzY2FwZSIgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIiB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5ldC9EVEQvc29kaXBvZGktMC5kdGQiIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzIGlkPSJkZWZzNCIvPjxnIGlkPSJsYXllcjEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAsLTU0MC4zNjIyKSI+PHBhdGggZD0ibSAxMjcuNDA2MjUsNjU3Ljc4MTI1IGMgLTQuOTg1MywwLjA3ODQgLTkuOTEwNzcsMi4xNjMwOCAtMTMuNDM3NSw1LjY4NzUgbCAtNTUsNTUgYyAtMy42MDA1NjUsMy41OTkyNyAtNS42OTY4ODMsOC42NTg5NSAtNS42OTY4ODMsMTMuNzUgMCw1LjA5MTA1IDIuMDk2MzE4LDEwLjE1MDczIDUuNjk2ODgzLDEzLjc1IEwgMjQyLjI1LDkyOS4yNSBjIDMuNTk5MjcsMy42MDA1NiA4LjY1ODk1LDUuNjk2ODggMTMuNzUsNS42OTY4OCA1LjA5MTA1LDAgMTAuMTUwNzMsLTIuMDk2MzIgMTMuNzUsLTUuNjk2ODggTCA0NTMuMDMxMjUsNzQ1Ljk2ODc1IGMgMy42MDA1NiwtMy41OTkyNyA1LjY5Njg4LC04LjY1ODk1IDUuNjk2ODgsLTEzLjc1IDAsLTUuMDkxMDUgLTIuMDk2MzIsLTEwLjE1MDczIC01LjY5Njg4LC0xMy43NSBsIC01NSwtNTUgYyAtMy41OTgxNSwtMy41OTEyNyAtOC42NTA2OCwtNS42ODEyNyAtMTMuNzM0MzgsLTUuNjgxMjcgLTUuMDgzNjksMCAtMTAuMTM2MjIsMi4wOSAtMTMuNzM0MzcsNS42ODEyNyBMIDI1Niw3NzguMDMxMjUgMTQxLjQzNzUsNjYzLjQ2ODc1IGMgLTMuNjY2NzgsLTMuNjY0MjMgLTguODQ4MDEsLTUuNzY0NDIgLTE0LjAzMTI1LC01LjY4NzUgeiIgaWQ9InBhdGgzNzY2LTEiIHN0eWxlPSJmb250LXNpemU6bWVkaXVtO2ZvbnQtc3R5bGU6bm9ybWFsO2ZvbnQtdmFyaWFudDpub3JtYWw7Zm9udC13ZWlnaHQ6bm9ybWFsO2ZvbnQtc3RyZXRjaDpub3JtYWw7dGV4dC1pbmRlbnQ6MDt0ZXh0LWFsaWduOnN0YXJ0O3RleHQtZGVjb3JhdGlvbjpub25lO2xpbmUtaGVpZ2h0Om5vcm1hbDtsZXR0ZXItc3BhY2luZzpub3JtYWw7d29yZC1zcGFjaW5nOm5vcm1hbDt0ZXh0LXRyYW5zZm9ybTpub25lO2RpcmVjdGlvbjpsdHI7YmxvY2stcHJvZ3Jlc3Npb246dGI7d3JpdGluZy1tb2RlOmxyLXRiO3RleHQtYW5jaG9yOnN0YXJ0O2Jhc2VsaW5lLXNoaWZ0OmJhc2VsaW5lO2NvbG9yOiNmZmZmZmY7ZmlsbDojZmZmZmZmO2ZpbGwtb3BhY2l0eToxO2ZpbGwtcnVsZTpub256ZXJvO3N0cm9rZTpub25lO3N0cm9rZS13aWR0aDozOC44ODAwMDEwNzttYXJrZXI6bm9uZTt2aXNpYmlsaXR5OnZpc2libGU7ZGlzcGxheTppbmxpbmU7b3ZlcmZsb3c6dmlzaWJsZTtlbmFibGUtYmFja2dyb3VuZDphY2N1bXVsYXRlO2ZvbnQtZmFtaWx5OlNhbnM7LWlua3NjYXBlLWZvbnQtc3BlY2lmaWNhdGlvbjpTYW5zIi8+PC9nPjwvc3ZnPgo=);
  background-size: contain;
  opacity: 0.75;
}
.arrow-off {
  display: none;
}

.bounce {
  animation: bounce 4s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.card-button {
  margin-bottom: 35px;
}

.svg-wrapper {
  height: 60px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #19f6e8;
}

.text {
  font-family: "Roboto Condensed";
  font-size: 22px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -48px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}
.btn-hover {
  color: #3a3e47;
  text-shadow: 0 3px rgb(4, 230, 255);
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-hover:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-hover:focus {
  outline: none;
}
.btn-hover.btn-color {
  background-image: linear-gradient(
    to right,
    #ffffffbf,
    #ffffffbf,
    #04e6ff,
    #84d1f5
  );
}
.back-card-out {
  justify-content: flex-start;
}

.back-card-stats {
  min-width: 300px;
  max-width: 500px;
  min-height: 200px;
  max-height: 315px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.back-card-stats-ranking {
  width: 100%;
  height: 100px;
  margin-top: 15px;
  text-align: center;
  background-color: #ffffffbf;
  -webkit-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.34);
  box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.34);
}

.back-card-events-text,
.back-card-stats-ranking-text,
.back-card-stats-points-text {
  padding-top: 10px;
  color: #3a3e47;
  text-shadow: 0 2px rgb(4, 230, 255);
}

.back-card-stats-ranking-img {
  width: 60px;
  height: 60px;
}

.back-card-stats-row {
  margin-top: 15px;
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.back-card-stats-points,
.back-card-stats-games {
  background-color: #ffffffbf;
  width: 140px;
  height: 75px;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
  color: #3a3e47;
  text-shadow: 0 2px rgb(4, 230, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  -webkit-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.34);
  box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.34);
}

.back-card-events {
  text-align: center;
  min-width: 300px;
  max-width: 500px;
  height: 220px;
  background-color: #ffffffbf;
  margin-top: 15px;
  -webkit-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.34);
  box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.34);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.event-link,
.event-link:hover {
  font-size: 12px;
  text-decoration: none;
}
