// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-event-form {
  display: flex;
  justify-content: center;
  border-radius: 18px;
  margin: 0;
  width: 56.99%;
  padding: 0;
  position: absolute;
  top: 35%;
  left: 21.5%;
  background-color: rgba(255, 255, 255, 0.75);
}
.events-header {
  width: 60%;
  margin: 15px;
  width: 100%;
  text-align: center;
  color: #510280;
}
#col_en {
  width: 50%;
  margin-left: -11%;
}
#col_event_name {
  width: 50%;
  margin-left: 0%;
}
#event_name label {
  width: 119%;
  margin-top: 1.1%;
  font-size: 90%;
  font-family: "Press Start 2P", cursive;
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #4b5fcf;
  text-align: center;
}
#event_name input[type="text"] {
  padding: 2%;
  font-size: 70%;
  font-family: "Press Start 2P", cursive;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
}
#col_ed {
  width: 50%;
  margin-left: -11%;
}
#col_event_desc {
  width: 50%;
  margin-left: 2%;
}
#event_desc label {
  width: 119%;
  margin-top: 1.1%;
  font-size: 90%;
  font-family: "Press Start 2P", cursive;
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #4b5fcf;
  text-align: center;
}
#event_desc textarea {
  padding: 2%;
  font-size: 50%;
  font-family: "Press Start 2P", cursive;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
  word-wrap: break-word;
  height: 220%;
  width: 146%;
  scroll-behavior: smooth;
}
#col_et {
  width: 50%;
  margin-left: -12%;
  margin-top: 13%;
}
#col_event_t {
  margin-left: 4%;
  margin-top: 13%;
}
#event_t label {
  width: 119%;
  margin-top: 1%;
  font-size: 90%;
  font-family: "Press Start 2P", cursive;
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #4b5fcf;
  text-align: center;
}
#event_t input[type="time"] {
  padding: 2%;
  width: 142%;
  text-align: center;
  font-size: 70%;
  font-family: "Press Start 2P", cursive;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
}

#col_dd {
  width: 50%;
  margin-left: -12%;
}
#col_event_d {
  margin-left: 4%;
}
#event_d label {
  width: 119%;
  margin-top: 1%;
  font-size: 90%;
  font-family: "Press Start 2P", cursive;
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #4b5fcf;
  text-align: center;
}
#event_d input[type="date"] {
  padding: 2%;
  width: 142%;
  font-size: 70%;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
}

#col_eg {
  width: 50%;
  margin-left: -11%;
}
#col_event_game {
  margin-left: 3%;
}
#event_game label {
  width: 119%;
  margin-top: 1.1%;
  font-size: 90%;
  font-family: "Press Start 2P", cursive;
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #4b5fcf;
  text-align: center;
}
#event_game select {
  padding: 2%;
  width: 142%;
  font-size: 70%;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
}

.add-event-form {
  margin-top: 55px;
}
.add_event {
  width: 80%;
  margin-left: -24%;
}
.add_event input[type="submit"] {
  width: 100%;
  padding: 4%;
  margin: 0;
  font-size: 80%;
  font-family: "Press Start 2P", cursive;
  font-weight: bold;
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #e3f1f1;
  background: #a9def5;
  border: 1px solid;
  border-color: #4b5fcf #031680 #4b5fcf;
  border-radius: 16px;
  outline: 0;
}

.add-event-button-wrapper {
  text-align: center;
}
.add-event-button {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  background-color: hsla(0, 0%, 100%, 0.75);
  text-shadow: 0 3px rgb(4, 230, 255);
  color: #5c20e9b9;
  border-radius: 18px;
  text-transform: uppercase;
  max-width: 800px;
  min-width: 800px;
  height: 50px;
  font-size: 17px;
}
// display added event (event/events/id)
.show-event-page {
  text-shadow: 0 3px rgb(4, 230, 255);
  color: #5c20e9b9;
  max-width: 800px;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 18px;
}

.show-event-page-title,
.show-event-page-description,
.show-event-page-time,
.show-event-page-users,
.show-event-page-game {
  width: 100%;
  margin: 25px 0 0 0;
  border-radius: 18px;
  background-color: hsla(0, 0%, 100%, 0.75);
}
.show-event-page-title {
  margin: 25px 0 0 0;
}
.show-event-page-game,
.show-event-page-title,
.show-event-page-description,
.show-event-page-time,
.show-event-page-users {
  padding: 15px;
}

.users-select {
  font-size: 15px;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
}

.users-select-button {
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #e3f1f1;
  background: #a9def5;
  border: 1px solid;
  border-color: #4b5fcf #031680 #4b5fcf;
  border-radius: 16px;
  outline: 0;
  font-size: 10px;
}

.users-label,
.users-select-option,
.event_private {
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #4b5fcf;
  text-align: center;
}

.users-select-list {
  list-style-type: none;
  color: rgb(81, 2, 128);
}

#table {
  margin-top: 100px;
}
