// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
hr {
  width: 80%;
}
.events-list-wrapper {
  text-align: center;
  margin-top: 50px;
}
.events-list {
  display: inline-block;
  font-size: 17px;
  max-width: 1500px;
  min-width: 1000px;
}
.header {
  margin: 0px 30px;
  padding: 20px;
  background-color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 10px;
  text-shadow: 0 3px rgb(4, 230, 255);
  color: #5c20e9b9;
  border-radius: 18px;
  text-transform: uppercase;
  text-align: center;
}
.event {
  margin: 10px 40px 0px;
  padding: 15px;
  font-size: 70%;
  color: black;
  background-color: hsla(0, 0%, 100%, 0.75);
  border-radius: 18px;
  text-align: center;
}

.event:hover {
  color: #5c20e9b9;
}
.event-rows {
  margin: 0% 2%;
}

.owned {
  margin: 10px 251px 0px;
  padding: 15px;
  width: 50%;
  background-color: hsla(0, 0%, 100%, 0.75);
  border-radius: 18px 18px 0 0;
  text-align: center;
  text-shadow: 0 3px rgb(4, 230, 255);
  color: #5c20e9b9;
  text-transform: uppercase;
}
.others {
  margin: 50px 251px 0px;
  padding: 15px;
  width: 50%;
  background-color: hsla(0, 0%, 100%, 0.75);
  border-radius: 18px 18px 0 0;
  text-align: center;
  text-shadow: 0 3px rgb(4, 230, 255);
  color: #5c20e9b9;
  text-transform: uppercase;
}
.sort-event-btn {
  padding: 0px;
  border: none;
  background-color: transparent;
  margin-left: 10px;
}
.sort-event-btn:focus {
  outline: none;
}
.fas {
  width: 80%;
  color: red;
}
.add-event-form {
  border-radius: 18px;
  margin: 50px auto 0 auto;
  max-width: 800px;
  min-width: 500px;
  background-color: rgba(255, 255, 255, 0.75);
}

.events-header {
  padding: 15px 0 15px 0;
  text-align: center;
  color: #5c20e9b9;
  text-shadow: 0 3px #04e6ff;
}

.add-user-form {
  width: 400px;
}

//
.add-event-form {
  margin-top: 55px;
}
.add_event {
  width: 100%;
  margin-right: 15px;
}
.add_event input[type="submit"] {
  width: 100%;
  padding: 4%;
  margin: 0;
  font-size: 80%;
  font-family: "Press Start 2P", cursive;
  font-weight: bold;
  text-shadow: 0 1px #e3f1f1;
  background: #a9def5;
  border: 1px solid;
  border-color: #4b5fcf #031680 #4b5fcf;
  border-radius: 16px;
  outline: 0;
}

.add-event-button-wrapper {
  text-align: center;
}
.add-event-button {
  margin-top: 40px;
  width: 100%;
  text-align: center;
  background-color: hsla(0, 0%, 100%, 0.75);
  text-shadow: 0 3px rgb(4, 230, 255);
  color: #5c20e9b9;
  border-radius: 18px;
  text-transform: uppercase;
  max-width: 800px;
  min-width: 800px;
  height: 50px;
  font-size: 17px;
}
// add event form

.col_en,
.col_ed,
.col_et,
.col_dd,
.col_eg,
.col_pp,
.users-label {
  text-shadow: 0 3px rgb(4, 230, 255);
}

.event_title input[type="text"] {
  padding-left: 10px;
  width: 130%;
  font-family: "Press Start 2P", cursive;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
}

.event_desc textarea {
  padding: 10px;
  font-family: "Press Start 2P", cursive;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
  word-wrap: break-word;
  height: 100%;
  width: 130%;
  scroll-behavior: smooth;
}

.col_event_t input[type="time"] {
  width: 130%;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
}

.event_d input[type="date"] {
  width: 130%;
  font-size: 70%;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
}

.event_game select {
  width: 130%;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
}
.add-event-button-submit {
  width: 135%;
  background-color: transparent;
  border: none;
  padding: 0;
}
// display added event (event/events/id)
.show-event-page {
  text-shadow: 0 3px rgb(4, 230, 255);
  color: rgb(46, 44, 44);
  max-width: 800px;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 18px;
}

.show-event-page-title,
.show-event-page-description,
.show-event-page-time,
.show-event-page-users,
.show-event-page-game {
  width: 90%;
  margin: 25px 0 0 0;
  border-radius: 18px;
  background-color: hsla(0, 0%, 100%, 0.75);
}
.show-event-page-title {
  margin: 25px 0 0 0;
}
.show-event-page-game,
.show-event-page-title,
.show-event-page-description,
.show-event-page-time,
.show-event-page-users {
  padding: 4%;
}
.event-title,
.event-date,
.event-game,
.event-players {
  color: #3a3e47;
  text-align: center;
  text-shadow: 0 1px #e3f1f1;
  margin-top: 3%;
  margin-bottom: 0;
}
.event-desc {
  color: #3a3e47;
  text-shadow: 0 1px #e3f1f1;
  margin-top: 3%;
  margin-bottom: 0;
}
.show-labelt,
.show-labeld,
.show-labeldt,
.show-labelg,
.show-labelp {
  line-height: 3%;
  margin-bottom: 0;
}
.users {
  width: 155%;
  display: flex;
  justify-content: space-evenly;
}
.users-select {
  border-color: #4b5fcf;
  width: 41%;
  font-size: 15px;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  border-radius: 14px;
  box-sizing: border-box;
}
.users-label {
  text-shadow: 0 3px rgb(4, 230, 255);
  padding-left: 15px;
  margin-right: auto;
  box-sizing: border-box;
}

.users-select-button {
  width: 12%;
  text-shadow: 0 1px #e3f1f1;
  background: #a9def5;
  border: 1px solid;
  border-color: #4b5fcf #031680 #4b5fcf;
  border-radius: 16px;
  outline: 0;
  font-size: 10px;
}

.users-label,
.users-select-option,
.col_private {
  text-align: center;
}
.col_pp {
  padding-top: 8px;
}
.colprivate {
  padding-bottom: 15px;
}
.users-select-list {
  list-style-type: none;
}

#table {
  margin-top: 100px;
}
