// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-event-form {
  border-radius: 18px;
  margin: 0;
  width: 56.99%;
  padding: 0;
  position: relative;
  top: 35%;
  left: 21.5%;
  background-color: rgba(255, 255, 255, 0.75);
}
#new_event{
  align-content: center;
}
.events-header {
  padding: 15px 0 15px 0;
  text-align: center;
  color: #5c20e9b9;
  text-shadow: 0 3px #04e6ff;
}


.event_title label,
.event_desc label,
.event_t label,
.event_d label,
.event_game label,
.users-label label,
.achivements-label,
.event_private label {
  
  margin-top: 1.1%;
  font-size: 80%;
  font-family: "Press Start 2P", cursive;
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #4b5fcf;
  text-align: center;
}

.add-event-button-wrapper {
  text-align: center;
}
.event_title input[type="text"] {
  padding: 2%;
  margin-left: 0%;
  width: 90%;
  font-size: 70%;
  font-family: "Press Start 2P", cursive;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
}
.event_desc{
  height: 24%;
}

.event_desc textarea {
  padding: 2%;
  font-size: 50%;
  font-family: "Press Start 2P", cursive;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
  word-wrap: break-word;
  height: 160px;
  width: 90%;
  scroll-behavior: smooth;
}
.event_t input[type="time"] {
  padding: 2%;
  width: 90%;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
}

.event_d input[type="date"] {
  padding: 2%;
  width: 90%;
  font-size: 70%;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
}

.event_game select {
  padding: 2%;
  width: 90%;
  font-size: 70%;
  background-color: hsla(0, 0%, 100%, 0.75);
  font-family: "Press Start 2P", cursive;
  text-align: center;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
}
.users-label{
  color: rgb(81, 2, 128);
}


.users-select {
  font-size: 65%;
  width: 90%;
  padding: 2%;
  background-color: hsla(0, 0%, 100%, 0.75);
  font-family: "Press Start 2P", cursive;
  text-align: center;
  border-radius: 14px;
  box-sizing: border-box;
  border: 1px solid blue;
}

.users-select-button {
  color: #510280;
 
  background: transparent;
  outline: none;
  border: none;
  font-size: 10px;
}
.users-select-button:focus{
  outline: none;
}
.users-select-option{
  
  margin: 0;
  font-size: 90%;
  font-family: "Press Start 2P", cursive;
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #4b5fcf;
  text-align: center;
}

.users-select-list {
  list-style-type: decimal;
  color: #510280;
  font-family: 'Play', sans-serif;
  font-size: 20px;
  margin-left: 2.5%;
}
.achivements-select-list{
  overflow-wrap: break-word;
  display: list-item;
  font-family: 'Play', sans-serif; 
  font-size: 20px;
}

.display-achivements{
  color: #510280;
}
#table {
  margin-top: 100px;
}

.event_private{
  margin-bottom: 24% !important;
}
.event_private input[type="checkbox"]{
  padding: 2%;
  font-size: 70%;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
}
.users-btn{
  position: absolute;
  left: 88.5%;
}

.add_btn{
  position: relative;
  top: -10%;
  left: 35%;
}
.typing {
  padding: 2%;
  width: 90%;
  font-size: 70%;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
}
.add-event-form {
  margin-top: 55px;
  
}
.add_event input[type="submit"] {
  padding: 4%;
  margin: 0;
  font-size: 80%;
  font-family: "Press Start 2P", cursive;
  font-weight: bold;
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #e3f1f1;
  background: #a9def5;
  border: 1px solid;
  border-color: #4b5fcf #031680 #4b5fcf;
  border-radius: 16px;
}

.event_private{
  margin-bottom: 10%;
}
.remove-achievement{
  background: transparent;
  border: none;
  margin-top: 1%;
}
.remove-achievement:focus{
  outline: none;
}

@media screen and (max-width: 1024px){
  .event_title input[type="text"],
  .event_desc textarea,
  .event_d input[type="date"],
  .event_t input[type="time"],
  .event_game select,
  .users-select{
    width: 112%;
  }
  .users-btn{
    left: 94%;
  }
  .event_private input[type="checkbox"]{
    margin-top: 8%;
  }
  .add_event{
    left: 60%;
  }
  .add_btn{
    top: 116%;
    left: 30%;
  }
}

