// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events-list-wrapper {
  text-align: center;
  margin-top: 50px;
}
.events-list {
  display: inline-block;
  font-size: 17px;
  max-width: 1500px;
  min-width: 1000px;
}
.row{
  margin-left: 0px !important;
  margin-right: 8px !important;
}
.header {
  margin: 0px 30px;
  padding: 20px;
  background-color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 10px;
  text-shadow: 0 3px rgb(4, 230, 255);
  color: #5c20e9b9;
  border-radius: 18px;
  text-transform: uppercase;
  text-align: center;
}

.event {
  margin: 10px 40px 0px;
  padding: 15px;
  font-size: 70%;
  color: black;
  background-color: hsla(0, 0%, 100%, 0.75);
  border-radius: 18px;
  text-align: center;
}

.event:hover {
  color: #5c20e9b9;
}
.event-rows {
  margin: 0% 2%;
}

.owned {
  margin: 10px 251px 0px;
  padding: 15px;
  width: 50%;
  background-color: hsla(0, 0%, 100%, 0.75);
  border-radius: 18px 18px 0 0;
  text-align: center;
  text-shadow: 0 3px rgb(4, 230, 255);
  color: #5c20e9b9;
  text-transform: uppercase;
}
.others {
  margin: 50px 251px 0px;
  padding: 15px;
  width: 50%;
  background-color: hsla(0, 0%, 100%, 0.75);
  border-radius: 18px 18px 0 0;
  text-align: center;
  text-shadow: 0 3px rgb(4, 230, 255);
  color: #5c20e9b9;
  text-transform: uppercase;
}
.sort-event-btn {
  padding: 0px;
  border: none;
  background-color: transparent;
  margin-left: 10px;
}
.sort-event-btn:focus {
  outline: none;
}
.fas {
  width: 80%;
  color: red;
}
.add-event-form {
  border-radius: 18px;
  margin: 0;
  width: 56.99%;
  padding: 0;
  position: relative;
  top: 35%;
  left: 21.5%;
  background-color: rgba(255, 255, 255, 0.75);
}
#new_event{
  align-content: center;
}
.events-header {
  padding: 15px 0 15px 0;
  text-align: center;
  color: #5c20e9b9;
  text-shadow: 0 3px #04e6ff;
}


.event_title label {
  width: 119%;
  margin-top: 1.1%;
  font-size: 80%;
  font-family: "Press Start 2P", cursive;
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #4b5fcf;
  text-align: center;
}

.add-event-button-wrapper {
  text-align: center;
}
.event_title input[type="text"] {
  padding: 2%;
  margin-left: 0%;
  width: 141%;
  font-size: 70%;
  font-family: "Press Start 2P", cursive;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
}

.event_desc label {
  width: 119%;
  margin-top: 1.1%;
  font-size: 80%;
  font-family: "Press Start 2P", cursive;
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #4b5fcf;
  text-align: center;
}
.event_desc textarea {
  padding: 2%;
  font-size: 50%;
  font-family: "Press Start 2P", cursive;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
  word-wrap: break-word;
  height: 253%;
  width: 141%;
  scroll-behavior: smooth;
}
.col_et {
  
  margin-top: 13%;
}
.col_event_t {
  
  margin-top: 13%;
}
.event_t label {
  width: 119%;
  margin-top: 1%;
  font-size: 90%;
  font-family: "Press Start 2P", cursive;
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #4b5fcf;
  text-align: center;
}
.event_t input[type="time"] {
  padding: 2%;
  width: 142%;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
}

.event_d label {
  width: 119%;
  margin-top: 1%;
  font-size: 90%;
  font-family: "Press Start 2P", cursive;
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #4b5fcf;
  text-align: center;
}
.event_d input[type="date"] {
  padding: 2%;
  width: 142%;
  font-size: 70%;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
}

.event_game label {
  width: 119%;
  margin-top: 1.1%;
  font-size: 90%;
  font-family: "Press Start 2P", cursive;
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #4b5fcf;
  text-align: center;
}
.event_game select {
  padding: 2%;
  width: 142%;
  font-size: 70%;
  background-color: hsla(0, 0%, 100%, 0.75);
  font-family: "Press Start 2P", cursive;
  text-align: center;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
}
.col_pp {
  margin-left: 9%;
}
.event_private label{
  width: 119%;
  margin-top: 1%;
  font-size: 90%;
  font-family: "Press Start 2P", cursive;
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #4b5fcf;
  text-align: center;
}

.event_private input[type="checkbox"]{
  padding: 2%;
  margin-top: 12%;
  margin-left: 34%;
  width: 111%;
  font-size: 70%;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
}
.users-btn{
  width: 0%;
  position: relative ;
  left: -2%;
}


.add-event-form {
  margin-top: 55px;
}
.add-event-button-wrapper {
  margin-top: 50px;
  text-align: center;
  .add-event-button {
    text-align: center;
    background-color: hsla(0, 0%, 100%, 0.75);
    text-shadow: 0 3px rgb(4, 230, 255);
    color: #5c20e9b9;
    border-radius: 18px;
    text-transform: uppercase;
    max-width: 800px;
    min-width: 800px;
    height: 50px;
    font-size: 17px;
  }
  .add-event-button:focus{
    outline: none;
  }
}
.add_event{
  position: relative;
  left: 80%;
  
}

.add_event input[type="submit"] {
  padding: 4%;
  margin: 0;
  font-size: 80%;
  font-family: "Press Start 2P", cursive;
  font-weight: bold;
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #e3f1f1;
  background: #a9def5;
  border: 1px solid;
  border-color: #4b5fcf #031680 #4b5fcf;
  border-radius: 16px;
}

.userrow{
  
  min-width: 570px;
}
.column-content{
  min-width: 500px;
}

// display added event (event/events/id)
.show-event-page {
  text-shadow: 0 3px rgb(4, 230, 255);
  color: rgb(46, 44, 44);
  max-width: 800px;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 18px;
}
.edit-event-page-title,
.show-event-page-title,
.show-event-page-description,
.show-event-page-time,
.show-event-page-users,
.show-event-page-game {
  width: 90%;
  margin: 25px 0 0 0;
  border-radius: 18px;
  background-color: hsla(0, 0%, 100%, 0.75);
}
.show-event-page-title {
  margin: 25px 0 0 0;
}
.show-event-page-game,
.show-event-page-title,
.show-event-page-description,
.show-event-page-time,
.show-event-page-users {
  padding: 4%;
}
.event-title,
.event-date,
.event-game,
.event-players {
  color: #3a3e47;
  text-align: center;
  text-shadow: 0 1px #e3f1f1;
  margin-top: 3%;
  margin-bottom: 0;
}

.event-desc {
  color: #3a3e47;
  text-shadow: 0 1px #e3f1f1;
  margin-top: 3%;
  margin-bottom: 0;
}
.show-labelt,
.show-labeld,
.show-labeldt,
.show-labelg,
.show-labelp {
  line-height: 3%;
  margin-bottom: 0;
}
.users {
  width: 155%;
  display: flex;
  justify-content: space-evenly;
}
.users-select {
  font-size: 65%;
  padding: 2%;
  width: 118%;
  margin-left: -16%;
  background-color: hsla(0, 0%, 100%, 0.75);
  font-family: "Press Start 2P", cursive;
  text-align: center;
  border-radius: 14px;
  box-sizing: border-box;
  border: 1px solid blue;
}
.users-label {
  text-shadow: 0 3px rgb(4, 230, 255);
  padding-left: 15px;
  margin-right: auto;
  box-sizing: border-box;
}

.users-select-button {
  color: #510280;
  margin-left: 87%;
  margin-top: -4.5%;
  background: transparent;
  outline: none;
  border: none;
  font-size: 10px;
}
.users-select-button:focus{
  outline: none;
}

.users-label{
  width: 96%;
  margin-left: 0%;
  margin-top: 1.1%;
  font-size: 90%;
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #4b5fcf;
  text-align: center;
  }
.users-select-option,
.event_private {
  width: 119%;
  margin-top: 1%;
  font-size: 90%;
  font-family: "Press Start 2P", cursive;
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #4b5fcf;
  text-align: center;
}
.col_pp {
  padding-top: 8px;
}
.colprivate {
  padding-bottom: 15px;
}
.users-select-list {
  list-style-type: none;
  color: rgb(81, 2, 128);
  text-align: center;
  margin-left: 6%;
  font-family: 'Play', sans-serif; 
  font-size: 20px;
}

#table {
  margin-top: 100px;
}



@media screen and (max-width: 1930px){
  // .players{
  //   margin-left: 7% !important;
  // }
  .users-select{
    width: 169%;
    margin-left: 2%;
  }
}
@media screen and (max-width: 1024px){
  .event_title input[type="text"] {
    width: 112%;
  }
  .event_desc textarea {
    width: 112%;
  }
  .event_d input[type="date"] {
    width: 112%;
  }
  .event_t input[type="time"] {
    width: 112%;
  }
  .event_game select{
    width: 112%;
  }
  .userrow{
    
    min-width: 468px;
  }
  .users-label{
    margin-left: -12%;
  }
  .users-select{
    max-width: 76%;
    margin-left: -35%;
  }
  .users-btn{
    
    left: -29%;
  }
  .event_private input[type="checkbox"]{
    margin-top: 20%;
  }
  .add_event{
    left: 60%;
  }
}
.show-event-button-add-score{
  margin-top: 50px;
  text-align: center;
.add-score-button{
  text-align: center;
  background-color: hsla(0, 0%, 100%, 0.75);
  text-shadow: 0 3px rgb(4, 230, 255);
  color: #5c20e9b9;
  border-radius: 18px;
  text-transform: uppercase;
  max-width: 800px;
  min-width: 800px;
  height: 50px;
  font-size: 17px;
}
}