  /*     Alerts       */
  .alert{
    width:100%;
    background-color:  hsla(0, 0%, 100%, 0);
    align-content: center;
    line-height: 200%;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    color: rgb(4, 230,255);
    text-align: center;
    text-shadow: 0 3px  rgb(6, 0, 10);
  }
  
  .message_title{
    width:100%;
    background-color:  hsla(0, 0%, 100%, 0.5);
    align-content: center;
    line-height: 200%;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    color: rgb(81, 2, 128);
    text-align: center;
    text-shadow: 0 3px  rgb(4, 230,255);
    float: top;
    
  }
 
  .explanation{
    margin-left:40%;
    text-align: left;
  }