  /*     Alerts       */
  .alert{
    width:100%;
    background-color:  hsla(0, 0%, 100%, 0);
    align-content: center;
    line-height: 200%;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    color: rgb(4, 230, 255);
    text-align: center;
    text-shadow: 0 3px  rgb(6, 0, 10);
  }
  .field_with_errors{
    position: relative;
    top:50%;
  }
  .error_mess{
    position: relative;
    top: -5%;
  }
  .message_title{
    width:100%;
    background-color:  hsla(0, 0%, 100%, 0);
    align-content: center;
    line-height: 100%;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    color: rgb(4, 230, 255);
    text-align: center;
    text-shadow: 0 3px  rgb(6, 0, 10);
    float: top;
    
  }
 
  .explanation{
    margin-left:35%;
    text-align: left;
    color: rgb(4, 230, 255);
    text-shadow: 0 3px  rgb(6, 0, 10);
  }
.notice{
  margin-top: 0 ;
  margin-left: 35%;
  text-align: left;
  color: rgb(4, 230, 255);
  text-shadow: 0 3px  rgb(6, 0, 10);
  margin-bottom: 1rem;
}
