html, body {
  min-height: 100%;
  margin: 0;
}

#main {
  min-height: calc(100vh - 86px);
  padding-bottom: 40px;
}
.footer,
.push {
  height: 40px;
}

body {
  background-image: linear-gradient(rgb(75, 19, 179), hsl(175, 100%, 50%));
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.header_style {
  background-color: hsla(0, 0%, 100%, 0.5);
  border-radius: 10px;
}

.body_style {
  background-color: rgba(4, 230, 255, 0.5);
  border-radius: 10px;
}
.circle {
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #3b79a3;
}

.small {
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium {
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large {
  width: 550px;
  height: 550px;
  left: -250px;
  bottom: -250px;
}

.xlarge {
  position: absolute;
  width: 700px;
  height: 700px;
  left: -300px;
  bottom: -300px;
  z-index: -100;
}

.shade1 {
  opacity: 0.2;
}
.shade2 {
  opacity: 0.5;
}

.shade3 {
  opacity: 0.3;
}

.shade4 {
  opacity: 0.4;
}

.shade5 {
  opacity: 0.5;
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.8);
  }
}
