// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.add-event-form {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  border-radius: 18px;
  width: 800px;
  background-color: hsla(0, 0%, 100%, 0.75);
  margin-top: 18px;
}
.events-header {
  width: 60%;
  margin: 15px;
  width: 100%;
  text-align: center;
}
.submit-button {
  margin-bottom: 15px;
  margin-left: 18%;
}
.events-wrapper {
  margin-top: 18px;
  background-color: antiquewhite;
  height: 200px;
  border-radius: 18px;
  background-color: hsla(0, 0%, 100%, 0.75);
  box-sizing: border-box;
}
.events-wrapper-header {
  padding-top: 45px;
  text-align: center;
}
