/*   ****** Sign up ******   */


#new_login.form-group.row{
  width:55%;
  height:40%;
}
#new_login label{
  margin-top: 4%;
  margin-left: 9%;
  padding: 2%;
  width: 50%;
  font-size: 90%;
  font-family: "Press Start 2P", cursive;
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #4b5fcf;
  text-align: center;
    
  }
  #col_new_login{
    width:30%;
    height:100%;
    position: absolute;
    left: 30%;
    
  }
  
  #col_new_login input[type=email]{
    height: 8%;
    font-family: "Press Start 2P", cursive;
    font-size: 70%;
    width:200%;
    border: 1px solid blue;
    border-radius: 14px;
    box-sizing: border-box;
  }

  .limit_letters{
    color:rgb(52, 0, 119);
    font-size: 8px;
    position: absolute;
    top:28.5%;
    left:42%;
  }

  #new_pass label{
    margin-right: 65%;
    margin-top: -2%;
    padding: 2%;
    width: 50%;
    font-size: 90%;
    font-family: "Press Start 2P", cursive;
    color: rgb(81, 2, 128);
    text-shadow: 0 1px #4b5fcf;
    text-align: center;
   
  }
  #col_pass{
    width:30%;
    height:100%;
    position: absolute;
    left: 30%;
    
  }
#col_new_pass input[type=password] {
  height: 110%;
  font-family: "Press Start 2P", cursive;
  font-size: 70%;
  width:114%;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
  position: relative;
  left:66%;
  top:-170%;
  }
 
#new_pass_conf label{
  margin-right: 65%;
  margin-top:-10%;
  padding: 2%;
  width: 50%;
  font-size: 75%;
  font-family: "Press Start 2P", cursive;
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #4b5fcf;
  text-align: center;
}
#col_pass_conf{
  width:30%;
  height:100%;
  position: absolute;
  left: 30%;
}
#col_new_conf input[type=password] {
  height: 150%;
  font-family: "Press Start 2P", cursive;
  font-size: 70%;
  width:114%;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
  position: relative;
  left:67%;
  top:-230%;
  }
  
 
#new_nick label{
  margin-top: -7%;
  margin-left: -7%;
  padding: 2%;
  width: 50%;
  font-size: 90%;
  font-family: "Press Start 2P", cursive;
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #4b5fcf;
  text-align: center;
      
}
#col_new_nick_login{
  width:30%;
  height:100%;
  position: absolute;
  left: 30%;
  
      
}
    
#col_new_nick input[type=text]{
  height: 140%;
  font-family: "Press Start 2P", cursive;
  font-size: 70%;
  width:114%;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
  position: relative;
  left:-30%;
  top:-150%;
}
  .avatar_new {
    margin:0 auto;
    width: 90%;
   
  }
  .input-group{
    position: relative;
    top:-20%;
    align-items: stretch;
    width: 260%;
}
.custom-file-label{
  width: 80%;
  border: 1px solid blue;
}
  
  .custom-file-label::after{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    width:40%;
    height: calc(1.5em + 0.75rem);
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: #a9def5;
    border: 1px solid blue;
   
  }

  .custom-file label{
    float: left;
    width: 10000%;
    line-height: 150%;
    font-size: 80%;
    font-family: 'Play', sans-serif;
    color: rgb(81, 2, 128);
    text-shadow: 0 1px #4b5fcf;
    text-align: left;
    flex-flow: row wrap;
    position: relative;
    left: -2%;
    top:-40%;
    border-radius: 10px;
    border: 1px solid blue;
  }
  .custom-file-input input[type=file]{
    width: 10%;
    padding: 2% 2%;
    position: relative;
    
   
    
  }
  .sign_button {
    width: 42%;
    padding: 2% 3%;
    float: right;
    align-content: center;
    position: relative;
    top: 58%;
    left: -18%;
    border: none;
    cursor: pointer;
    
    
  }
  
  .sign_button input[type=submit] {
    width: 110%;
    padding: 8%;
    font-size: 75%;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    color: rgb(81, 2, 128);
    text-shadow: 0 1px #e3f1f1;
    background: #a9def5;
    border: 1px solid;
    border-color: #4b5fcf #031680 #4b5fcf;
    border-radius: 16px;
    outline: 0;
  }

  .l_box{
    position: relative;
    right:13%;
    display:inline-block;
    width:100%;
    height:40%;
  
  }

  