.bg {
    max-width: 1500px;
    min-width: 1000px;
    text-align: center;
    border-radius: 15px;
    display: inline-block;    
    background-color: hsla(0, 0%, 100% ,0.75);
}

.listDiv{
    text-align: center;
   
}