/*   ****** Log in *******   */
.cotainer{
  width:100%;
  height: 40%;
  align-content: center;
  margin:0;
  padding: 0;
 
}

.card-header {
  align-content: center;
  font-size: 24px;
  font-family: "Press Start 2P", cursive;
  color: rgb(81, 2, 128);
  text-align: center;
  text-shadow: 0 3px rgb(4, 230, 255);
}

#new_user.new_user {
  align-content: center;
  width: 60%;
  height: 54%;
  margin-left:20%;
  margin-top:10%;
  
}
.login{
  width: 70%;
}
.col_log{
  padding-top: 1%;
}
.login label{
  font-size: 90%;
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #4b5fcf;
  text-align: center;
}
.col_login input[type="email"] {
  max-width: 170px;
  font-size: 70%;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
  margin-left: 10%;
}
.pass{
  width: 70%;
}
.col_p{
  padding-top: 1%;
}
.pass label{
  font-size: 90%;
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #4b5fcf;
  text-align: center;
}
.col_pass input[type="password"] {
  max-width: 170px;
  font-size: 70%;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
  margin-left: 10%;
}

.col_rest{
  margin-left: 38% !important;
  margin-top: -4%;
}
.checkbox label{
  font-family: 'Play', sans-serif; 
  color: #320447;
  font-size: 90%;
  margin: 0;
  vertical-align: text-top;
}
 input[type="checkbox"] {
  box-sizing: border-box;
  cursor:pointer;
}
.checkbox{
  height: 100%;
  margin-top: -3%;
  margin-left: 6%;
}


@media screen and (min-width: 1025px){
  .login label{
    font-size: 90%;
    color: rgb(81, 2, 128);
    text-shadow: 0 1px #4b5fcf;
    margin-left: 54%;
  }
  .col_login input[type="email"] {
    max-width: 180px;
    font-size: 70%;
    border: 1px solid blue;
    border-radius: 14px;
    box-sizing: border-box;
    margin-left: 10%;
  }
  .pass label{
    font-size: 90%;
    color: rgb(81, 2, 128);
    text-shadow: 0 1px #4b5fcf;
    margin-left: 40%;
  }
  .col_pass input[type="password"] {
    max-width: 180px;
    font-size: 70%;
    border: 1px solid blue;
    border-radius: 14px;
    box-sizing: border-box;
    margin-left: 10%;
  }
  .log_button {
    width: 40%;
    height: 100%;
    padding: 0;
    margin: 0;
    float: right;
    position: relative;
    left: 30%;
    top: 45%;
  }
  .col_rest{
    margin-left: 34% !important;
  }
  .checkbox{
    height: 100%;
    margin-left: 13%;
  }
}

.log_button {
  width: 40%;
  height: 100%;
  padding: 0;
  margin: 0;
  float: right;
  position: relative;
  left: 16%;
  top: 45%;
  
}
.log_button input[type="submit"] {
  padding: 7%;
  margin: 0;
  font-weight: bold;
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #e3f1f1;
  background: #a9def5;
  border: 1px solid;
  border-color: #4b5fcf #031680 #4b5fcf;
  border-radius: 16px;
  outline: 0;
}

.link_box{
  position: relative;
  right:10%;
  display:inline-block;
  width:100%;
  height:40%;

}

.google-wrapper {
  margin-top: 10px;
}

.google-login {
  color: white;
  font-size: 10px;
}

.google-login:hover {
  text-decoration: none;
  color: rgb(4, 230, 255);
}