  ****** Sign up ******  


.new_login label{

  font-size: 90%;
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #4b5fcf;
  margin-left: 30%;
    
  }
 .col_new_login{
   margin-left: -10%;
 }
  .col_new_login input[type=email]{
    padding: 2%;
    max-width: 180px;
    font-size: 70%;
    font-family: 'Press Start 2P', cursive;
    display: inline-block;
    border: 1px solid blue;
    border-radius: 14px;
    box-sizing: border-box;
  }
  .letters{
    height: 30%;
    margin-right: 6% !important;
    margin-top: -5% !important;
    margin-bottom: 0 !important;
    
  }
  .limit_letters{
    color:rgb(52, 0, 119);
    font-size: 6px;
    padding: 0;
    margin: 0;
    
  }
  .letters_form{
   height: 50%;
   width: 80%;
  }
 
  .col_new_pass{
    margin-left: -10%;
  }
  .new_pass label{
    font-size: 90%;
    color: rgb(81, 2, 128);
    text-shadow: 0 1px #4b5fcf;
    margin-left: 20%;
  }
 
  
.col_new_pass input[type=password] {
  padding: 2%;
  max-width: 180px;
  font-size: 70%;
  font-family: 'Press Start 2P', cursive;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
  }
.col_new_conf{
  margin-left: -10%;
}
.new_pass_conf label{

  margin-left: 7%;
  font-size: 90%;
  font-family: "Press Start 2P", cursive;
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #4b5fcf;
  text-align: center;
}

.col_new_conf input[type=password] {
  padding: 2%;
  max-width: 180px;
  font-size: 70%;
  font-family: 'Press Start 2P', cursive;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
  }
  
  .col_new_nick{
    margin-left: -10%;
  }
.new_nick label{
  font-size: 90%;
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #4b5fcf;
  margin-left: 30%;
      
}

.col_new_nick input[type=text]{
  padding: 2%;
  max-width: 180px;
  font-size: 70%;
  font-family: 'Press Start 2P', cursive;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
}
 
.col_new_ava{
  margin-left: -10%;
}
  .ava label{
    font-size: 90%;
    color: rgb(81, 2, 128);
    text-shadow: 0 1px #4b5fcf;
    margin-left: 24%;
}
  .ava input[type=file]{
    padding: 2%;
    max-width: 180px;
    font-size: 59%;
    font-family: 'Play', sans-serif;
    display: inline-block;
    width: 65%;
}

  .sign_button {
    width: 45%;
    padding: 3% 3%;
    float: right;
    align-content: center;
    position: relative;
    top: 58%;
    left: -56%;
    border: none;
    cursor: pointer;
    
  }
  
  .sign_button input[type=submit] {
    width: 150%;
    max-width: 180px;
    padding: 8%;
    font-size: 75%;
    font-weight: bold;
    color: rgb(81, 2, 128);
    text-shadow: 0 1px #e3f1f1;
    background: #a9def5;
    border: 1px solid;
    border-color: #4b5fcf #031680 #4b5fcf;
    border-radius: 16px;
    outline: 0;
  }

  @media screen and (min-width: 1025px){
    .new_login label{
      font-size: 90%;
      color: rgb(81, 2, 128);
      text-shadow: 0 1px #4b5fcf;
      margin-left: 44%;
    }
    .col_new_login input[type=email]{
      padding: 2%;
      max-width: 240px;
      font-size: 70%;
      font-family: 'Press Start 2P', cursive;
      display: inline-block;
      border: 1px solid blue;
      border-radius: 14px;
      box-sizing: border-box;

    }
    .letters{
      margin-top: -3% !important;
      margin-right: 3% !important;
    }
    .limit_letters{
      font-size: 8px;
    }

    .new_pass label{
      margin-left: 36%;
    }
    .col_new_pass input[type=password] {
      padding: 2%;
      max-width: 240px;
      font-size: 70%;
      font-family: 'Press Start 2P', cursive;
      display: inline-block;
      border: 1px solid blue;
      border-radius: 14px;
      box-sizing: border-box;
      }
    .new_pass_conf label{
      margin-left: 20%;
    }
    .col_new_conf input[type=password] {
      padding: 2%;
      max-width: 240px;
      font-size: 70%;
      font-family: 'Press Start 2P', cursive;
      display: inline-block;
      border: 1px solid blue;
      border-radius: 14px;
      box-sizing: border-box;
      }
      .new_nick label{
        margin-left: 48%; 
      }
    .col_new_nick input[type=text]{
      padding: 2%;
      max-width: 240px;
      font-size: 70%;
      font-family: 'Press Start 2P', cursive;
      display: inline-block;
      border: 1px solid blue;
      border-radius: 14px;
      box-sizing: border-box;
    }
    .ava label{
      margin-left: 44%;
    }
    .sign_button {
      left: -49%;
    }
    .sign_button input[type=submit] {
      width: 110%;
    }
  }
  .l_box{
    position: relative;
    right:13%;
    display:inline-block;
    width:100%;
    height:40%;
  
  }

  