/*   ****** Sign up ******   */

.col_nl{
  width: 50%;
  margin-left: -11%;
}

.new_login label{
  width: 166%;
  margin-top: 1.1%;
  font-size: 90%;
  font-family: "Press Start 2P", cursive;
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #4b5fcf;
  text-align: center;
    
  }
  .col_new_login{
    width: 50%;
    margin-left: 6%;
    
  }
  
  .col_new_login input[type=email]{
    padding: 2%;
    font-size: 70%;
    font-family: 'Press Start 2P', cursive;
    display: inline-block;
    border: 1px solid blue;
    border-radius: 14px;
    box-sizing: border-box;
  }
 .letters{
    margin-top:-8%;
    position: relative;
  }
  .limit_letters{
    color:rgb(52, 0, 119);
    font-size: 8px;
    padding-top: 8%;
    margin-left: 54%;

  }
  .letters_form{
    position: relative;
    top: -132%;
  }
 
.new_pass{
  margin-top:-5%;
}
  .new_pass label{
    width: 119%;
    margin-top: 1.1%;
    font-size: 90%;
    font-family: "Press Start 2P", cursive;
    color: rgb(81, 2, 128);
    text-shadow: 0 1px #4b5fcf;
    text-align: center;
   
  }
 
  .col_new_pass{
    width: 50%;
    margin-left: -5%;
    
  }
.col_new_pass input[type=password] {
  padding: 2%;
  font-size: 70%;
  font-family: 'Press Start 2P', cursive;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
  }

.new_pass_conf label{
  width: 119%;
  margin-top: 1.1%;
  font-size: 90%;
  font-family: "Press Start 2P", cursive;
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #4b5fcf;
  text-align: center;
}
.col_new_conf{
  width: 50%;
  margin-left: -4.5%;
  margin-top: 2%;
}
.col_new_conf input[type=password] {
  padding: 3%;
  font-size: 70%;
  font-family: 'Press Start 2P', cursive;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
  }
  

.new_nick label{
  width: 119%;
  margin-top: 1.1%;
  font-size: 90%;
  font-family: "Press Start 2P", cursive;
  color: rgb(81, 2, 128);
  text-shadow: 0 1px #4b5fcf;
  text-align: center;
      
}
.col_new_nick{
  width: 50%;
  margin-left: -4.5%;
}
    
.col_new_nick input[type=text]{
  padding: 3%;
  font-size: 70%;
  font-family: 'Press Start 2P', cursive;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 14px;
  box-sizing: border-box;
}
 
  .col_na{
    width: 50%;
    margin-left: -11%;
  }
  .ava label{
    width: 168%;
    margin-top: 1%;
    font-size: 90%;
    font-family: "Press Start 2P", cursive;
    color: rgb(81, 2, 128);
    text-shadow: 0 1px #4b5fcf;
    text-align: center;
}
  .ava input[type=file]{
    padding: 2%;
    font-size: 59%;
    font-family: 'Play', sans-serif;
    display: inline-block;
    width: 65%;
}
.col_ava{
  width: 50%;
  margin-left: 10.5%;
}
  .sign_button {
    width: 45%;
    padding: 3% 3%;
    float: right;
    align-content: center;
    position: relative;
    top: 58%;
    left: -49%;
    border: none;
    cursor: pointer;
    
  }
  .col_but{
    margin-top: -2%;
    margin-left: 14.5%;
  }
  .sign_button input[type=submit] {
    width: 110%;
    padding: 8%;
    font-size: 75%;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    color: rgb(81, 2, 128);
    text-shadow: 0 1px #e3f1f1;
    background: #a9def5;
    border: 1px solid;
    border-color: #4b5fcf #031680 #4b5fcf;
    border-radius: 16px;
    outline: 0;
  }

  .l_box{
    position: relative;
    right:13%;
    display:inline-block;
    width:100%;
    height:40%;
  
  }

  