
.give_email label{
    padding: 2%;
    margin-left: 30%;
    font-size: 90%;
    font-family: "Press Start 2P", cursive;
    color: rgb(81, 2, 128);
    text-shadow: 0 1px #4b5fcf;
    text-align: center;
}
.col_email{
    margin-left: -10%;
  }
.col_email input[type=email]{
    
    
    padding: 2% 3%;
    max-width: 180px;
    font-size: 70%;
    font-family: 'Press Start 2P', cursive;
    display: inline-block;
    border: 1px solid blue;
    border-radius: 14px;
    box-sizing: border-box;
}

.send_button{
    width: 50%;
    padding: 0;
    align-content: center;
    margin: 0;
    border: none;
    position: relative;
    top: 58%;
    left: 6%;
   
}
.send_button input[type=submit]{
    padding: 4%;
    width: 107%;
    font-size: 72%;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    color: rgb(81, 2, 128);
    text-shadow: 0 1px #e3f1f1;
    background: #a9def5;
    border: 1px solid;
    border-color: #4b5fcf #031680 #4b5fcf;
    border-radius: 16px;
    outline: 0;
}
.link_forget{
    width: 24%;
    position: relative;
    left: 32%;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 90%;
    text-align: left;
    line-height: 160%;
}


@media screen and (min-width: 1025px){
    .give_email label{
        margin-left: 50%;
    }
    .send_button{
        left: 6%;
    }
}