.give_email{
    position: relative;
    top: 60%;
    left: 0%;
    margin-top: 1%;
}
.col_e{
    margin-left:9%;
}
.col_email{
    margin-left:5%;
}
.give_email label{
   
    position: absolute;
    left: 5%;
    margin-top: 2.5%;
    padding: 2%;
    width: 40%;
    font-size: 90%;
    font-family: "Press Start 2P", cursive;
    color: rgb(81, 2, 128);
    text-shadow: 0 1px #4b5fcf;
    text-align: center;
}
.col_email input[type=email]{
    width: 120%;
    position: relative;
    left: 53%;
    top: 15%;
    padding: 2% 3%;
    
    font-size: 70%;
    font-family: 'Press Start 2P', cursive;
    display: inline-block;
    border: 1px solid blue;
    border-radius: 14px;
    box-sizing: border-box;
}

.send_button{
    width: 40%;
    padding: 0;
    align-content: center;
    margin: 0;
    border: none;
    position: relative;
    right: -7%;
    top: 68%;
}
.send_button input[type=submit]{
    padding: 10%;
    width: 107%;
    font-size: 72%;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    color: rgb(81, 2, 128);
    text-shadow: 0 1px #e3f1f1;
    background: #a9def5;
    border: 1px solid;
    border-color: #4b5fcf #031680 #4b5fcf;
    border-radius: 16px;
    outline: 0;
}
.link_forget{
    width: 18%;
    position: relative;
    left: 35.5%;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 90%;
    text-align: left;
    line-height: 160%;
}