.bg {
    max-width: 1500px;
    min-width: 1000px;
    text-align: center;
    border-radius: 18px;  
    border-color: blue; 
    background-color: hsla(0, 0%, 100% ,0.75);
}

.listDiv{
    text-align: center;
   
}

.heart{
    height: 20 px;
    width: 20px;
}
.wiersz{
    color: green;
    border-color: pink;
}